<h2 mat-dialog-title>Ajouter un rôle</h2>

<mat-dialog-content class="mat-typography">
  <form>
    <mat-form-field appearance="fill" class="w-100 mb-3">
      <mat-label>Nom du rôle</mat-label>
      <input matInput [(ngModel)]="role.nom" name="nom" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100 mb-3">
      <mat-label>Description</mat-label>
      <input matInput [(ngModel)]="role.description" name="description" required />
    </mat-form-field>

    <label>Permissions</label>
    <mat-selection-list>
      <mat-list-option *ngFor="let perm of permissions"
                       [value]="perm.id"
                       [selected]="selectedPermissions.has(perm.id!)"
                       (selectedChange)="onCheckboxChange(perm.id!, $event)">
        {{ perm.nom }}
      </mat-list-option>
    </mat-selection-list>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Annuler</button>
  <button mat-raised-button color="primary"
          (click)="save()"
          [disabled]="!role.nom || !role.description">
    Ajouter
  </button>
</mat-dialog-actions>
